h2 {
    text-align: center; 
  }

.population-plot {
  margin-left: 25%;
}

.container {
  margin-left: 15%;
}

.city-count {
  text-align: center; 
  font-size: 25;
}

.buildings:hover {
  fill: #4d8d9c;
}

body {
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;
}
